.footer{
    padding: 1rem 10rem;
    background: #484848;
    color: white;
    font-family: sans-serif;
    margin-top: 6rem;

}
.footer p{
    font-size: 1.1rem;
}

.footer h1{
    margin-bottom: 0.3rem;
}

.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}


.top i{
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
}

.top i:hover {
    color: #01959a;
}

.bottom{

    padding-top: 0.1rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom div{
    display: flex;
    flex-direction: column;
}

.bottom h4{
    font-size: 1.2rem;
    padding: 1rem 0 .8rem 0;


}

.bottom a{
    text-decoration: none;
    color: #fafafa;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
}


@media screen and (max-width: 850px) {
    .footer{
        padding: 4rem 2rem;

    }

    .footer i{
        margin: 1rem 1rem 0 0;
    }

    .bottom div{
        width: 50%;
    }

}